.env
.env.*
.DS_Store
/log
/tmp

# Ruby / Rails
/backend/log/*
/backend/tmp/*
/backend/storage/*
/backend/.bundle
/backend/vendor/bundle
/backend/db/*.sqlite3
/backend/node_modules

# Frontend
/frontend/node_modules
/frontend/dist

# Docker helper artifacts
/docker-data

# Secrets
/backend/config/master.key
/backend/config/credentials/*.key
/backend/.env
/backend/.env.*
