@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  min-height: 100%;
  min-width: 320px;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  overflow-x: hidden;
}

#app {
  width: 100%;
}

a {
  text-decoration: none;
}
